
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff;
}

.feature-item {
  text-align: center;
  margin-bottom: 20px;
}

.feature-item i {
  font-size: 36px;
  color: #007bff;
}

.feature-item h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  color: #6c757d;
}

.picture-section img {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .navbar-nav {
      flex-direction: column;
  }
}

@media (max-width: 576px) {
  .feature-item i {
      font-size: 24px;
  }

  .feature-item h3 {
      font-size: 20px;
  }

  .feature-item p {
      font-size: 14px;
  }
}

