
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}


header {
  background-color: burlywood;
  color: #fff;
  padding: 10px 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}


.weather-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center; 
}

.weather-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-card p {
  font-size: 16px;
  color: #666;
  margin: 5px 0; 
}

.weather-card .temperature {
  font-size: 24px;
  font-weight: bold;
}

.weather-card .humidity {
  margin-top: 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}



